@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* *{
    
}

html{
    font-size: 22px;
} */

/* body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background : #ffefd5;
    color: rgb(0, 0, 0);
    
}

p{
    color: #333;
} */
/* main{
    font-family: monospace;
}

button, input, textarea, select{
    font: inherit;
}

h1, h2{
    color: blue;
}

.gray{
    color: gray;
}


p{
    color: purple;
}

p{
    color: red;
}

.highlight{
    text-transform: uppercase;
    background-color: gold;
}

#second{
    font-style: italic;
} */

/* css unit =================================*/
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    border: 2px dashed red;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
}


main{
    width: 50vw;
    background-color: skyblue;
    font-size: 2rem;
} */

/* p{
    font-size: 2rem;
    width: 40ch;
} */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
} */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 10px double red;
    font-size: 1.5rem; */
    /* margin-top: 1.5rem;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 2em; */
    /* margin: 1.5em;
    padding: 1.5em;
    outline: 5px solid purple;
    outline-offset: -20px;
} */

/* main{ */
    /* width: 50%;
    background-color: skyblue; */
    /* font-size: 2rem;
    
}

p{
    font-size: 2rem;
    width: 40ch;
} */
/* css typography */
/* .circle{
    margin: 3rem auto;
    background-color: gold;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50px;
    outline: 2px solid red;
    outline-offset: 0.25rem;
} */

/* body{
    padding: 10%;
    font-size: 2rem;
    font-family:  'Roboto', sans-serif;
} */

/* input, button{
    font: inherit;
} */

/* p{
    text-decoration: none;
    text-transform: capitalize;
    text-align: left;
    text-indent: 2em;

    line-height: 1.5;
    font-weight: normal; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-style:oblique; */
    /* letter-spacing: 0.1em; */
    /* word-spacing: 0.1em; */
/* } */

/* css links */
body{
    padding: 10%;
    font: 2rem;
    /* font: 'Roboto', sans-serif; */
}

a{
    text-decoration: none;
    cursor: pointer;
    color: hsl(207, 44%, 49%);
}

a:visited{
    color: purple;
}

a:hover,a:focus{
    color: hsl(207, 44%, 49%, 0.4);
    /* opacity: 0.6; */
    background-color: gold;
}

a:active{
    color: red;
}













