/* || RESET */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea{
    font: inherit;
}



/* || VARIABLES */
@font-face{
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay/WEB/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
         url('../fonts/ClashDisplay/WEB/fonts/ClashDisplay-Semibold.woff') format('woff'),
         url('../fonts/ClashDisplay/WEB/fonts/ClashDisplay-Semibold.ttf') format('truetype'),
         url('../fonts/ClashDisplay/OTF/ClashDisplay-Semibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root{
    /* COLORS */
    --BUTTON-COLOR:#640EF1;
    --HEADING-COLOR:#080C2E;
    --FONT-COLOR:#5D5D7C;
    --BGCOLOR:#F1F4F5;
    --BGCARD:#ffffff;
    --BGFOOTER:#070C29;


}

/* || UTILITY CLASSES */
.offscreen{
    position: absolute;
    left: -10000px;
}

/* || GENERAL STYLES */
html{
    background-color: var(--BGCOLOR);
    font-family: ;
}
